/* --- GLOBAL --- */
* {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
}

/* Il pannello principale (Centro di Controllo) */
.control-center {
    background: rgba(46, 52, 64, 0.85); /* Nord Dark con trasparenza */
    border: 2px solid #81a1c1; /* Bordo Frost Blue */
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

/* Il widget del Titolo e pulsante Cancella */
.widget-title {
    color: #eceff4;
    background: #3b4252;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 8px;
    font-size: 16px;
}

.widget-title > button {
    font-size: 12px;
    color: #d8dee9;
    background: #4c566a;
    border: none;
    border-radius: 6px;
    padding: 4px 12px;
}

.widget-title > button:hover {
    background: #bf616a; /* Rosso Nord al passaggio del mouse */
    color: #eceff4;
}

/* Il widget "Non Disturbare" */
.widget-dnd {
    background: #3b4252;
    margin: 0px 10px 10px 10px;
    padding: 5px 10px;
    border-radius: 8px;
    color: #d8dee9;
}

/* Lo switch del DND */
.widget-dnd > switch {
    background: #4c566a;
    border-radius: 8px;
}

.widget-dnd > switch:checked {
    background: #88c0d0; /* Acceso diventa Cyan */
}

/* Il widget etichetta (Label) */
.widget-label {
    margin: 10px;
}

.widget-label > label {
    font-size: 14px;
    color: #d8dee9;
}

/* Il Player Musicale (Mpris) */
.widget-mpris {
    background: #3b4252;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    color: #eceff4;
}

.widget-mpris > button {
    border-radius: 8px;
}

/* --- LE NOTIFICHE SINGOLE (Toast) --- */
/* Quando ti arriva un messaggio mentre lavori */
.notification-row {
    outline: none;
    margin: 5px;
}

.notification {
    background: rgba(46, 52, 64, 0.95);
    border: 1px solid #81a1c1;
    border-radius: 12px;
    padding: 10px;
    margin: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

/* Titolo della notifica */
.summary {
    font-size: 14px;
    color: #88c0d0; /* Titolo azzurro */
    font-weight: 800;
}

/* Corpo della notifica */
.body {
    font-size: 13px;
    color: #d8dee9;
}

/* Notifiche Critiche (Batteria scarica, Errori) */
.notification.critical {
    background: rgba(191, 97, 106, 0.9); /* Rosso Nord */
    border: 2px solid #bf616a;
}

/* Griglia dei bottoni */
.widget-buttons-grid {
    padding: 10px;
    margin: 10px;
    background-color: #3b4252; /* Grigio scuro */
    border-radius: 12px;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
    background-color: #4c566a;
    color: #eceff4;
    border: none;
    border-radius: 8px;
    padding: 8px 12px;
    margin: 5px;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    font-weight: bold;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
    background-color: #88c0d0; /* Azzurro Nord */
    color: #2e3440;
}
