/* --- GLOBAL --- */
* {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
}

/* Il pannello principale (Centro di Controllo) */
.control-center {
    background: rgba(46, 52, 64, 0.85); /* Nord Dark con trasparenza */
    border: 2px solid #81A1C1;          /* Bordo Frost Blue */
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.5);
    padding: 10px;
}

/* Il widget del Titolo e pulsante Cancella */
.widget-title {
    color: #ECEFF4;
    background: #3B4252;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 8px;
    font-size: 16px;
}

.widget-title > button {
    font-size: 12px;
    color: #D8DEE9;
    background: #4C566A;
    border: none;
    border-radius: 6px;
    padding: 4px 12px;
}

.widget-title > button:hover {
    background: #BF616A; /* Rosso Nord al passaggio del mouse */
    color: #ECEFF4;
}

/* Il widget "Non Disturbare" */
.widget-dnd {
    background: #3B4252;
    margin: 0px 10px 10px 10px;
    padding: 5px 10px;
    border-radius: 8px;
    color: #D8DEE9;
}

/* Lo switch del DND */
.widget-dnd > switch {
    background: #4C566A;
    border-radius: 8px;
}

.widget-dnd > switch:checked {
    background: #88C0D0; /* Acceso diventa Cyan */
}

/* Il widget etichetta (Label) */
.widget-label {
    margin: 10px;
}

.widget-label > label {
    font-size: 14px;
    color: #D8DEE9;
}

/* Il Player Musicale (Mpris) */
.widget-mpris {
    background: #3B4252;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    color: #ECEFF4;
}

.widget-mpris > button {
    border-radius: 8px;
}

/* --- LE NOTIFICHE SINGOLE (Toast) --- */
/* Quando ti arriva un messaggio mentre lavori */
.notification-row {
    outline: none;
    margin: 5px;
}

.notification {
    background: rgba(46, 52, 64, 0.95);
    border: 1px solid #81A1C1;
    border-radius: 12px;
    padding: 10px;
    margin: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

/* Titolo della notifica */
.summary {
    font-size: 14px;
    color: #88C0D0; /* Titolo azzurro */
    font-weight: 800;
}

/* Corpo della notifica */
.body {
    font-size: 13px;
    color: #D8DEE9;
}

/* Notifiche Critiche (Batteria scarica, Errori) */
.notification.critical {
    background: rgba(191, 97, 106, 0.9); /* Rosso Nord */
    border: 2px solid #BF616A;
}
